
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background-color: white;
  width: 100%;
  color: black;
  height: 100vh;
  overflow-x: hidden;
}

#portfolio:hover,
#home:hover,
#about:hover,
#contact:hover,
#project:hover {
  color: red;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


section {
  min-height: 100vh;
  padding: 5rem 9%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
  text-align: left;
}
.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.typing-text {
  font-size: 2rem;
  color: black;
}

.auto-type {
  color: red;
  border-right: 3px solid red;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 3s steps(15) infinite alternate,
             blink 0.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch; 
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.home-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
}

span {
  color: red;
}


.home-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}


@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav a {
    display: block;
    padding: 10px;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .home {
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  .home-img img {
    width: 200px;
    height: 200px;
  }
}
#home{
  color: black;
}
#project{
  color: black;
}
#contact{
  color: black;
}
#about{
  color: black;
}
.social-icon a{
  padding-left: 20px;
  font-size: 30px;
}
.download {
  font-size: 20px;
  background-color: whitesmoke;
  color: black;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.download:hover {
  background-color: blueviolet;
  color: aliceblue;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color:white;
  padding: 6rem 9%;
  color: white;
  flex-wrap: wrap;
  margin-top: -120px;
}

.about-img img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  padding: 8px;
  transition: transform 0.4s ease;
}

.about-img img:hover {
  transform: scale(1.05);
}

.about-content h2 {
  font-size: 3rem;
  font-weight: 700;
}

.about-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
  color: black;
}

.about-content span {
  font-weight: 600;
}

.read-btn {
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.read-btn:hover {
  background-color: blueviolet;
  color: white;
  transform: scale(1.05);
}

.project {
  background-color: white;
  padding: 6rem 9%;
  text-align: center;
  margin-top: -100px;
}

.project .heading {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin-bottom: 3rem;
}

.project .heading span {
  color: red;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-box {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.project-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

.project-box:hover img {
  transform: scale(1.05);
}

.contact {
  background-color: white;
  padding: 6rem 9%;
  text-align: center;
  margin-top: -300px;
}

.contact .heading {
  font-size: 3rem;
  color: red;
  font-weight: 700;
  margin-bottom: 3rem;
}

.contact .heading span {
  color: black;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
}

.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-box input,
textarea {
  width: 100%;
  padding: 15px;
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.input-box input {
  width: 48%;
}

textarea {
  resize: none;
}

.input-box input::placeholder,
textarea::placeholder {
  color: black;
}
.btn {
  background-color: blueviolet;
  color: #000;
  font-weight: 600;
  padding: 12px 35px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
 
}
@media (max-width: 768px) {
  .input-box input {
    width: 100%;
  }
}
.footer {
  background-color:black;
    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 9%;
  border-top: 1px solid #3a434e;
  margin-top: 0px;
}

.footer-text p {
  color: white;
  font-size: 1rem;
}

.footer-text span {
  color: white;
  font-weight: 600;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  background-color: white;
  color: #000;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  text-decoration: none;
  
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}


